<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eliot's Tech List</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div class="wrapper">
      <header>
        <div style="display: block;">
          <nav>
            <a href="/">Home</a>
            {{#if loggedIn}}
              <a href="/dashboard">Dashboard</a>
              <button id="logout" class="btn-no-style">Logout</button>
            {{else}}
              <a href="/login">Login</a>
            {{/if}}
          </nav>
        </div>
       <h1> <a href="/">Eliot's Tech List</a></h1>
      </header>
      



      <main>
        {{{body}}}
      </main>
      <footer>
        &copy 2022 Eliot Cleveland
      </footer>
    </div>

    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
  </body>

</html>